{{define "header"}}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container-xl">
      <a class="navbar-brand" href="/">G-commerce</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07XL" aria-controls="navbarsExample07XL" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarsExample07XL">
        <ul class="navbar-nav mr-auto">
            {{$currentPage := .CurrentPage}}
            {{range $page := .Pages}}
                {{if eq $currentPage $page}}
                <li class="nav-item active"></li>
                <a class="nav-link" href="/{{$page}}">{{$page}} <span class="sr-only">(current)</span> </a>
                {{else}}
                <li class="nav-item"></li>
                <a class="nav-link" href="/{{$page}}">{{$page}} </a>
                {{end}}

            {{end}}
         
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown07XL" data-toggle="dropdown" aria-expanded="false">Categorias</a>
            <div class="dropdown-menu" aria-labelledby="dropdown07XL">
              <a class="dropdown-item" href="#">Categoria 1</a>
              <a class="dropdown-item" href="#">Categoria 2</a>
              <a class="dropdown-item" href="#">Categoria 3</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-md-0">
          <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </form>
      </div>
    </div>
  </nav>

<!-- <div class="topnav">
    {{$currentPage := .CurrentPage}}
    {{range $page := .Pages}}
    <a {{if eq $currentPage $page}} class="active" {{end}} href="/{{$page}}">{{$page}}</a>
    {{end}}
</div> -->
{{end}}