{{define "profile"}}
<!DOCTYPE html>
<html lang="en">
{{template "head" .}}
<body class="d-flex flex-column min-vh-100">
    {{template "header" .}}
    <main class="container">
        <div>
            <form action="/profile" method="post">
                <input type="hidden" name="option" id="Option" value="edit_profile"><br>

                <label for="Name">Nome: </label>
                <input type="text" name="name"  id="Name" value="{{.Person.Name}}"><br>
            
                <label for="CPF">CPF: </label>
                <input type="text" name="cpf" id="CPF" value="{{.Person.CPF}}"><br>

                <label for="BirthDate">Nascimento: </label>
                <input type="text" name="birthDate" id="BirthDate" value="{{.Person.BirthDate}}"><br>

                <label for="Sex">Sexo: </label>
                <input type="text" name="sex" id="Sex" 
                {{if  (eq .Person.Sex 1)}}
                value="Homen"
                {{else if (eq .Person.Sex 2)}}
                value="mulher"
                {{else}}
                value="indefinido"
                {{end}}                
                ><br>

                <input type="submit" value="Editar">
            </form>
        </div>

        <div>
            <form action="/profile" method="POST">
                <input type="hidden" name="option" value="edit_language">
                <label for="Language">Escolha um idioma: </label>
                <select name="language" id="Language">
                    <option value="pt-BR">Português</option>
                    <option value="en-US">English</option>
                </select>
                <input type="submit" value="Mudar idioma">
            </form>

        </div>

    </main>
    {{template "footer" .}}
</body>
</html>
{{end}}