{{define "stock"}}
<!DOCTYPE html>
<html lang="en">
{{template "head" .}}
<body>
    {{template "header" .}}
    <main class="main">
        <div>
            <form action="/stock" method="POST">
                <input type="hidden" name="cust_id" id="cust_id" value="insert-product">

                <label for="id_code">código:</label>  
                <input type="text" name="code" id="id_code"><br>

                <label for="id_name">nome:</label> 
                <input type="text" name="name" id="id_name"><br>

                <label for="description">descrição:</label>
                <input type="text" name="description" id="description"><br>

                <label for="price">preço: </label>
                <input type="number" step="0.01" name="price" id="price"><br><br>

                <input type="submit" value="Inserir">
            </form>
        </div>
    </main>
    {{template "footer" .}}
</body>
</html>
{{end}}